{% extends "header.html" %}

{% block body %}

<div>

    <section class="container col-md-8 col-md-offset-2">

        <table class="table">
            <tr><td><img src="{{ url_for('static', filename=('images/samples/150x180/20150731-_MG_4360.jpg')) }}" alt=""
                    style="height: 100px; padding: 5px;"></td>
                <td colspan=""><h3>The Forth <sub>by Noel Fitzpatrick</sub></h3> </td>
                <td><h3>&euro;35.76</h3></td>
                <td style="padding: 5px;">
                    <h3><input type="button" name="action" value="Remove" class="btn btn-warning"></h3>
                </td></tr>

            <tr><td><img src="{{ url_for('static', filename=('images/samples/150x180/20150731-_MG_4360.jpg')) }}" alt=""
                    style="height: 100px; padding: 5px;"></td>
                <td colspan=""><h3>The Forth <sub>by Noel Fitzpatrick</sub></h3> </td>
                <td><h3>&euro;35.76</h3></td>
                <td style="padding: 5px;">
                    <h3><input type="button" name="action" value="Remove" class="btn btn-warning"></h3>
                </td></tr>

            <tr><td><img src="{{ url_for('static', filename=('images/samples/150x180/20150731-_MG_4360.jpg')) }}" alt=""
                    style="height: 100px; padding: 5px;"></td>
                <td colspan=""><h3>The Forth <sub>by Noel Fitzpatrick</sub></h3> </td>
                <td><h3>&euro;35.76</h3></td>
                <td style="padding: 5px;">
                    <h3><input type="button" name="action" value="Remove" class="btn btn-warning"></h3>
                </td></tr>

            <tr><td><img src="{{ url_for('static', filename=('images/samples/150x180/20150731-_MG_4360.jpg')) }}" alt=""
                    style="height: 100px; padding: 5px;"></td>
                <td colspan=""><h3>The Forth <sub>by Noel Fitzpatrick</sub></h3> </td>
                <td><h3>&euro;35.76</h3></td>
                <td style="padding: 5px;">
                    <h3><input type="button" name="action" value="Remove" class="btn btn-warning"></h3>
                </td></tr>

            <tr><td><img src="{{ url_for('static', filename=('images/samples/150x180/20150731-_MG_4360.jpg')) }}" alt=""
                    style="height: 100px; padding: 5px;"></td>
                <td colspan=""><h3>The Forth <sub>by Noel Fitzpatrick</sub></h3> </td>
                <td><h3>&euro;35.76</h3></td>
                <td style="padding: 5px;">
                    <h3><input type="button" name="action" value="Remove" class="btn btn-warning"></h3>
                </td></tr>

            <tr><td colspan="2"><h3>Your Total: &euro;134.24</h3></td>
            <td colspan="2"><h3><input type="button" name="action" value="Proceed to Check Out" class="btn btn-success"></h3></td>
            </tr>
        </table>

    </section>


</div>

{% endblock %}