{% extends "header.html" %}

{% block body %}
<!--TODO: There is a lot of sql work needed here-->
<div>

    <!-- Product viewport     -->
    <article class="container">

        <header class="container">

            <div class="container">
                <div class="container col-sm-6 col-md-6">
                    <!--TODO: Large view of images needs to be put in place-->
                    <!--TODO: Add size for the max image, this is for the large and small images-->
                    <!--TODO: List needs to come from the data base with image links-->
                    <img src=" {{ url_for('static', filename='images/image_holder-250x300.png') }}" alt="..."
                         style="border: solid gray 1px">
                    <img src="{{ url_for('static', filename='images/image_holder-75x90.png') }}" alt="..."
                         style="border: solid gray 1px">
                    <img src="{{ url_for('static', filename='images/image_holder-75x90.png') }}" alt="..."
                         style="border: solid gray 1px">
                    <img src="{{ url_for('static', filename='images/image_holder-75x90.png') }}" alt="..."
                         style="border: solid gray 1px">


                </div>


                <div class="container col-sm-4 col-md-6">
                    <h2>{{ product[1] }}</h2>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<sup>By</sup>
                        <cite>{{ product[4] }}</cite></h4>

                    <div class="container  col-sm-4 col-md-6">
                        <p><b>User Rating</b></p>

                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="container">
                    <h3>Price: &euro;{{ product[3] }}</h3>
                    <a class="btn btn-primary" href="#" role="button">Add to Cart</a>
                </div>
        </header>

        <!-- Discription Section -->
        <section class="panel panel-default">


            <div class="panel-heading">
                <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body">
                {{ product[2] }}
            </div>

        </section>
        <!-- End Discription SEction -->


        <!-- Comments Section -->
        <section class="panel panel-default">
            <div class="panel-heading col-6">
                <h3 class="panel-title">Comments</h3>
            </div>
            <div class="panel-body">

                <div class="well well-sm">This is a comment.</div>
                <div class="well well-sm">We have added a new on.</div>

                <!--  Form needs more work but will get the point across. It does need to react to users been logged_in or not.  -->
                <form class="form-horizontal">
                    <h3>Leave your comment</h3>
                    <textarea class="form-control" rows="3"></textarea>

                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Your Rating</label>

                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </section>
    </article>


</div>

{% endblock %}